@inherits LayoutComponentBase

<main>
    <RadzenLayout class="rz-shadow-3">
        <RadzenHeader>
            <div class="d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => _sidebarStatus = !_sidebarStatus)"/>
                <RadzenLabel Text="ApiHub"/>
            </div>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@_sidebarStatus">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Home" Icon="home" />
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody class="rz-background-color-base-600">
            <div class="p-2">
                @Body
            </div>
        </RadzenBody>
        <RadzenFooter>
            The Footer
        </RadzenFooter>
    </RadzenLayout>
</main>

@code{
    bool _sidebarStatus = true;
}
